.cart-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart-main .cart-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10px;
}
.cart-main .cart-wrapper .cart-main-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cart-inside-div-A{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.cart-inside-div-A .cart-inside-div-A-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding-bottom: 15px;
}
.cart-inside-div-A-a .cart-inside-div-A-a2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 15px;
}
.cart-inside-div-A-b{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.cart-inside-div-A-b .cart-inside-div-A-b1{
    display: flex;
    width: 100%;
    font-size: 15px;
    color: rgb(76, 76, 76);
    align-items: center;
    gap: 15px;
}
.cart-inside-div-B{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.cart-inside-div-B-a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cart-inside-div-B-a1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.cart-inside-div-B-a1 button{
    width: 100%;
    padding: 12px 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #0071DC;
    border-radius: 25px;
    border: none;
}