*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-images{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    width: 100%;
    height: auto;
}
.main-body {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    margin-top: 8.5%;
}

.main-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.insider-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

.goat{
    padding: 5px;
}
.goat .goat-position{
    position: relative;
}
.goat-text{
    position: absolute;
    left: 6%;
    top: 11%;
    font-size: 18px;
}
.main-body p{
    font-size: 14px;
    text-decoration: underline;
    display:inline-block;
    padding-top: 20px;
}
.main-body p:hover{
    text-decoration: none;
}

.baby-girl{
    padding: 5px;
}
.baby-girl .baby-girl-position{
    position: relative;
}
.baby-girl-text{
    position: absolute;
    left: 6%;
    top: 6%;
    font-size: 22px;
}

.dino{
    padding: 5px;
}
.dino .dino-position{
    position: relative;
}
.dino-text{
    position: absolute;
    left: 6%;
    top: 10%;
    font-size: 18px;
}

.iphone{
    padding: 5px;
}
.iphone .iphone-position{
    position: relative;
}
.iphone-text{
    position: absolute;
    left: 3%;
    top: 2%;
    color: white;
    font-size: 38px;
}
.iphone-text .iphone-text1{
    font-size: 22px;
    text-decoration: none;
}
.iphone-text .iphone-text2{
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    border-radius: 18px;
}

.watch{
    padding: 5px;
}
.watch .watch-position{
    position: relative;
}
.watch-text{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 20px;
}

.toycar{
    padding: 5px;
}
.toycar .toycar-position{
    position: relative;
}
.toycar-text{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 20px;
}

.walmart-banner{
    padding: 5px;
}
.walmart-banner .walmart-banner-position{
    position: relative;
}
.walmart-banner-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 8%;
}
.walmart-banner-text .walmart-text1{
    font-size: 35px;
    text-decoration: none;
    padding: 0;
}
.walmart-banner-text .walmart-text2{
    text-decoration: none;
    padding-top: 3px;
}
.walmart-banner-text .walmart-text3{
    font-size: 15px;
}

.lady{
    padding: 5px;
}
.lady .lady-position{
    position: relative;
}
.lady-text{
    position: absolute;
    left: 6%;
    top: 8%;
    font-size: 18px;
}

.luxe{
    padding: 5px;
}
.luxe .luxe-position{
    position: relative;
}
.luxe-text{
    position: absolute;
    left: 6%;
    top: 8%;
    font-size: 18px;
}

.jordan{
    padding: 5px;
}
.jordan .jordan-position{
    position: relative;
}
.jordan-text{
    position: absolute;
    left: 6%;
    top: 4%;
    font-size: 22px;
}

.slider1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slider1 section{
    max-width: 100%;
    padding: 20px;
}
.electronic-text1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
}
.electronic-text1 p:hover{
    text-decoration: underline;
}
.electronic-text2{
    padding-bottom: 15px;
    padding-left: 5px;
}
.electronic-images{
    width: 100%;
    height: auto;
}
.electronic-images .owl-theme .item img{
    width: auto;
    height: auto;
}
.item{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
}

.item .owl-text h5{
    font-size: 17px;
    padding: 10px 0;
}
.item .owl-text p{
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 10px;
}
.item .owl-text button{
    padding: 7px 14px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid rgb(57, 57, 57);
    background-color: white;
}
.item .owl-text button:hover{
    border: 2px solid rgb(35, 34, 34);
}
.react-multiple-carousel__arrow--left{
    left:calc(1% + 1px) !important;
    background-color: rgba(154, 153, 153,0.5) !important;
    border: 1px solid black !important;
    z-index: 0 !important;
}
.react-multiple-carousel__arrow--right{
    right:calc(1% + 1px) !important;
    background-color: rgba(154, 153, 153,0.5) !important;
    border: 1px solid black !important;
    z-index: 0 !important;
}
.slider2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}
.slider2 section{
    max-width: 100%;
    padding: 20px;
}
.hori-line1{
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
}
.slider3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}
.slider3 section{
    max-width: 100%;
    padding: 20px;
}
.electronic-text-small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
.electronic-text-small p:hover{
    text-decoration: underline;
}

.slider3 section .electronic-images .item{
    padding-top: 0;
    gap: 2px;
}


@media (min-width: 1920px) {
    .main-body {
        display: flex;
        width: 87%;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 18px;
        margin: 7%;
    }
    .slider1 section{
        max-width: 87%;
        padding: 20px;
    }
    .slider2 section{
        max-width: 87%;
        padding: 20px;
    }
    .hori-line1{
        width: 100%;
        padding: 0 50px;
        padding-top: 20px;
    }
    .slider3 section{
        max-width: 87%;
        padding: 20px;
    }

}