*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-images{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    width: 100%;
    height: auto;
}
.main-body {
    display: flex;
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
    padding: 18px;
    margin-top: 8.5%;
    gap: 5px;
}

.main-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.insider-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

a{
    text-decoration: none;
    color: black;
}

.goat{
    padding: 5px;
}
.goat .goat-position{
    position: relative;
}
.goat-text{
    position: absolute;
    left: 6%;
    top: 11%;
    font-size: 18px;
}
.main-body p{
    font-size: 14px;
    text-decoration: underline;
    display:inline-block;
    padding-top: 20px;
}
.main-body p:hover{
    text-decoration: none;
}

.baby-girl{
    padding: 5px;
}
.baby-girl .baby-girl-position{
    position: relative;
}
.baby-girl-text{
    position: absolute;
    left: 6%;
    top: 6%;
    font-size: 22px;
}

.dino{
    padding: 5px;
}
.dino .dino-position{
    position: relative;
}
.dino-text{
    position: absolute;
    left: 6%;
    top: 10%;
    font-size: 18px;
}

.iphone{
    padding: 5px;
}
.iphone .iphone-position{
    position: relative;
}
.iphone-text{
    position: absolute;
    left: 3%;
    top: 2%;
    color: white;
    font-size: 38px;
}
.iphone-text .iphone-text1{
    font-size: 22px;
    text-decoration: none;
}
.iphone-text .iphone-text2{
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    border-radius: 18px;
}

.watch{
    padding: 5px;
}
.watch .watch-position{
    position: relative;
}
.watch-text{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 20px;
}

.toycar{
    padding: 5px;
}
.toycar .toycar-position{
    position: relative;
}
.toycar-text{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 20px;
}

.walmart-banner{
    padding: 5px;
}
.walmart-banner .walmart-banner-position{
    position: relative;
}
.walmart-banner-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 8%;
}
.walmart-banner-text .walmart-text1{
    font-size: 35px;
    text-decoration: none;
    padding: 0;
}
.walmart-banner-text .walmart-text2{
    text-decoration: none;
    padding-top: 3px;
}
.walmart-banner-text .walmart-text3{
    font-size: 15px;
}

.lady{
    padding: 5px;
}
.lady .lady-position{
    position: relative;
}
.lady-text{
    position: absolute;
    left: 6%;
    top: 8%;
    font-size: 18px;
}

.luxe{
    padding: 5px;
}
.luxe .luxe-position{
    position: relative;
}
.luxe-text{
    position: absolute;
    left: 6%;
    top: 8%;
    font-size: 18px;
}

.jordan{
    padding: 5px;
}
.jordan .jordan-position{
    position: relative;
}
.jordan-text{
    position: absolute;
    left: 6%;
    top: 4%;
    font-size: 22px;
}
.main-images .main-body .iphone h2{
    font-weight: 600;

}


.slider1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slider1 section{
    max-width: 100%;
    padding: 20px;
}
.electronic-text1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
}
.electronic-text1 p:hover{
    text-decoration: underline;
}
.electronic-text2{
    padding-bottom: 15px;
    padding-left: 5px;
}
.electronic-images{
    width: 100%;
    height: auto;
}
.electronic-images .owl-theme .item img{
    width: auto;
    height: auto;
}
.item{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
}

.item .owl-text h5{
    font-size: 17px;
    padding: 10px 0;
}
.item .owl-text p{
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 10px;
}
.item .owl-text button{
    padding: 7px 14px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid rgb(57, 57, 57);
    background-color: white;
}
.item .owl-text button:hover{
    border: 2px solid rgb(35, 34, 34);
}
.react-multiple-carousel__arrow--left{
    left:calc(1% + 1px) !important;
    background-color: rgba(154, 153, 153,0.5) !important;
    border: 1px solid black !important;
    z-index: 0 !important;
}
.react-multiple-carousel__arrow--right{
    right:calc(1% + 1px) !important;
    background-color: rgba(154, 153, 153,0.5) !important;
    border: 1px solid black !important;
    z-index: 0 !important;
}
.slider2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}
.slider2 section{
    max-width: 100%;
    padding: 20px;
}
.hori-line1{
    width: 100%;
    padding: 0 20px;
    padding-top: 20px;
}
.hori-line1 hr{
    border-color:rgba(213, 185, 185, 0.3);
}
.slider3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}
.slider3 section{
    max-width: 100%;
    padding: 20px;
}
.electronic-text-small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    padding-bottom: 25px;
}
.electronic-text-small p:hover{
    text-decoration: underline;
}

.slider3 section .electronic-images .item{
    padding-top: 0;
    gap: 2px;
}
.slider4{
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider4 section{
    max-width: 100%;
    padding: 20px;
}
.flexbox-1{
    width: 45%;
    padding-top: 0;
}
.slider4 .flex-it .electronic-images{
    padding-top: 50px;
}
.flexbox-2{
    width: 45%;
    position: relative;
}
.flex-it{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.flexbox-2 img{
    border-radius: 14px;
}
.flexbox-2 .dog-text{
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 25px;
}
.flexbox-2 .dog-text .heading{
    font-size: 55px;
    font-weight:400;
    padding-bottom: 20px;
}
.flexbox-2 .dog-text button{
    padding: 9px 14px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid rgb(57, 57, 57);
    background-color: white;
}
.flexbox-2 .dog-text button:hover{
    border: 2px solid rgb(35, 34, 34);
    cursor: pointer;
}
.flexbox-1 .electronic-images .item{
    padding-top: 0;
    gap: 0;
}
.slider5{
    width: 100%;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider5 section{
    max-width: 100%;
    padding: 20px;
    padding-top: 0;
}
.slider5 .flex-it2 .electronic-images{
    padding-top: 50px;
}
.flex-it2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}


.collage1{
    width: 100%;
    height: auto;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collage1 section{
    width: 100%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content:space-evenly;
    gap: 12px;
}
.collage1 section .collage-part1 img, .collage1 section .collage-part3 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.pumpkin .pumpkin-text{
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 25px;
}
.pumpkin .pumpkin-text .heading{
    font-size: 55px;
    font-weight:400;
    padding-bottom: 20px;
}
.pumpkin .pumpkin-text button{
    padding: 9px 14px;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid rgb(57, 57, 57);
    background-color: white;
}
.pumpkin .pumpkin-text button:hover{
    border: 2px solid rgb(35, 34, 34);
    cursor: pointer;
}
.collage-part2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
}
.below-merry{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.collage-part2 img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.pumpkin, .merry, .candy, .skull, .fairy{
    position: relative;
}
.pumpkin .pumpkin-text, .merry .merry-text, .candy .candy-text, .skull .skull-text, .fairy .fairy-text{
    position: absolute;
    top: 4%;
    left: 4%;
}
.collage-part2 .merry .merry-text{
    top: 10%;
    color: white;
}
.merry-text .text{
    font-size: 19px;
}
.merry-text .heading{
    font-size: 30px;
    font-weight: 600;
}
.text1{
    text-decoration: underline;
    padding-top: 14px;
}
.text1:hover{
    text-decoration: none;
    cursor: pointer;
}
.candy-text .text{
    font-size: 19px;
}
.candy-text .heading{
    font-size: 26px;
    font-weight: 600;
}
.below-merry .candy .candy-text{
    top: 5%;
    left: 8%;
}
.below-merry .skull .skull-text{
    top: 5%;
    left: 8%;
    color: white;
}
.skull-text .heading{
    font-size: 26px;
    font-weight: 600;
}
.fairy-text .heading{
    font-size: 32px;
    font-weight: 600;
}
.fairy .fairy-text{
    left: 7%;
}
.slider6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slider6 section{
    max-width: 100%;
    padding: 20px;
}


.collage2{
    width: 100%;
    height: auto;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collage2 section{
    width: 100%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content:space-evenly;
    gap: 12px;
}
.collage2 section .collage2-part1 img, .collage2 section .collage2-part3 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.collage2-part2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
}
.below-gun{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.collage2-part2 img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.barbie, .gun, .starwars, .prime, .blackmagic{
    position: relative;
}
.barbie .barbie-text, .gun .gun-text, .starwars .starwars-text, .prime .prime-text, .blackmagic .blackmagic-text{
    position: absolute;
    top: 4%;
    left: 4%;
}


.collage3{
    width: 100%;
    height: auto;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collage3 section{
    width: 100%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content:space-evenly;
    gap: 12px;
}
.collage3 section .collage3-part1 img, .collage3 section .collage3-part3 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.collage3-part2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 15px;
}
.below-desk{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.collage3-part2 img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.candel, .desk, .tv, .airfry, .liquor{
    position: relative;
}
.candel .candel-text, .desk .desk-text, .tv .tv-text, .airfry .airfry-text, .liquor .liquor-text{
    position: absolute;
    top: 4%;
    left: 4%;
}

.slider7{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.slider7 section{
    max-width: 100%;
    padding: 20px;
}




@media (min-width: 1920px) {
    .main-body {
        display: flex;
        width: 87%;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 18px;
        margin: 7%;
    }
    .slider1 section{
        max-width: 87%;
        padding: 20px;
    }
    .slider2 section{
        max-width: 87%;
        padding: 20px;
    }
    .hori-line1{
        width: 100%;
        padding: 0 50px;
        padding-top: 20px;
    }
    .slider3 section{
        max-width: 87%;
        padding: 20px;
    }
    .slider4 section{
        max-width: 87%;
        padding: 20px;
    }

    .flexbox-1, .flexbox-2{
        width: 50%;
    }
    .slider5 section{
        max-width: 87%;
        padding: 20px;
    }
    .slider6 section{
        max-width: 87%;
        padding: 20px;
    }
    .slider7 section{
        max-width: 87%;
        padding: 20px;
    }
    .collage1{
        width: 100% !important;
        height: auto;
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .collage1 section{
        width: 100%;
        display: flex;
        align-items: center;
        align-items: flex-start;
        justify-content:center;
        gap: 20px;
    }
    .collage2{
        width: 100% !important;
        height: auto;
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .collage2 section{
        width: 100%;
        display: flex;
        align-items: center;
        align-items: flex-start;
        justify-content:center;
        gap: 20px;
    }
    .collage3{
        width: 100% !important;
        height: auto;
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .collage3 section{
        width: 100%;
        display: flex;
        align-items: center;
        align-items: flex-start;
        justify-content:center;
        gap: 20px;
    }

}