*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    width: 100%;
    height: auto;
}
.main-body {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.main-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.second div{
    /* padding: 8px; */
    /* margin: -4px 0; */
}
.insider-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.third div{
    /* padding: 8px; */
}

a{
    text-decoration: none;
    color: black;
}

.goat{
    padding: 5px;
}
.goat .goat-position{
    position: relative;
}
.goat-text{
    position: absolute;
    left: 6%;
    top: 11%;
    font-size: 18px;
}
.main-body p{
    font-size: 14px;
    text-decoration: underline;
    display:inline-block;
    padding-top: 20px;
}
.main-body p:hover{
    text-decoration: none;
}

.baby-girl{
    padding: 5px;
}
.baby-girl .baby-girl-position{
    position: relative;
}
.baby-girl-text{
    position: absolute;
    left: 6%;
    top: 6%;
    font-size: 22px;
}

.dino{
    padding: 5px;
}
.dino .dino-position{
    position: relative;
}
.dino-text{
    position: absolute;
    left: 6%;
    top: 10%;
    font-size: 18px;
}

.iphone{
    padding: 5px;
}
.iphone .iphone-position{
    position: relative;
}
.iphone-text{
    position: absolute;
    left: 3%;
    top: 2%;
    color: white;
    font-size: 38px;
}
.iphone-text .iphone-text1{
    font-size: 22px;
    text-decoration: none;
}
.iphone-text .iphone-text2{
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    border-radius: 18px;
}

.watch{
    padding: 5px;
}
.watch .watch-position{
    position: relative;
}
.watch-text{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 20px;
}

.toycar{
    padding: 5px;
}
.toycar .toycar-position{
    position: relative;
}
.toycar-text{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 20px;
}

.walmart-banner{
    padding: 5px;
}
.walmart-banner .walmart-banner-position{
    position: relative;
}
.walmart-banner-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 8%;
}
.walmart-banner-text .walmart-text1{
    font-size: 35px;
    text-decoration: none;
    padding: 0;
}
.walmart-banner-text .walmart-text2{
    text-decoration: none;
    padding-top: 3px;
}
.walmart-banner-text .walmart-text3{
    font-size: 15px;
}

.lady{
    padding: 5px;
}
.lady .lady-position{
    position: relative;
}
.lady-text{
    position: absolute;
    left: 6%;
    top: 8%;
    font-size: 18px;
}

.luxe{
    padding: 5px;
}
.luxe .luxe-position{
    position: relative;
}
.luxe-text{
    position: absolute;
    left: 6%;
    top: 8%;
    font-size: 18px;
}

.jordan{
    padding: 5px;
}
.jordan .jordan-position{
    position: relative;
}
.jordan-text{
    position: absolute;
    left: 6%;
    top: 4%;
    font-size: 22px;
}

@media (min-width: 1920px) {
    .main-body {
        display: flex;
        width: 87%;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 18px;
    }
}