* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.mainheader{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.top-header {
    background-color: #0071DC;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 11px;
}

.select-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #004F9A;
    padding: 6px 18px;
    border-radius: 32px;
    color: white;
}

.top-header .select-bar img {
    height: 30px;
    width: auto;
}

.top-header .select-bar:hover {
    background-color: #05315a;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 7px 18px;
    border-radius: 32px;
}

.top-header .search-bar input {
    border: none;
    width: 700px;
    padding: 5px;
}

.top-header .search-bar input::placeholder {
    color: #024b8f;
    opacity: 1;
    font-size: 13px;
}

.top-header .search-bar input:focus-visible {
    border: none;
    outline: none;
}

.item-bar {
    display: flex;
    align-items: center;
    color: white;
    padding: 6px 18px;
    border-radius: 32px;
}

.item-bar div {
    padding-left: 8px;
}

.item-bar:hover {
    background-color: #05315a;
    cursor: pointer;
}

.sign-bar {
    display: flex;
    align-items: center;
    color: white;
    padding: 6px 18px;
    border-radius: 32px;
}

.sign-bar div {
    padding-left: 8px;
}

.sign-bar:hover {
    background-color: #05315a;
    cursor: pointer;
}

.cart-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 6px 18px;
    border-radius: 32px;
}

.cart-bar:hover {
    background-color: #05315a;
    cursor: pointer;
}


.address-cart {
    position: absolute;
    width: 335px;
    height: auto;
    left: 3.5%;
    top: 10.3%;
    z-index: 100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #0071DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 12px 12px;
    gap: 10px;
}

.about-shipping {
    display: flex;
    align-items: center;
    color: white;
}

.about-shipping div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.about-shipping div img {
    width: 45px;
    height: auto;
    margin-bottom: 8px;
}

.about-address {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    font-size: 14px;
    border-radius: 8px;
    padding: 15px;
    gap: 10px;
}

.vehicles {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.add-it {
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0071DC;
    color: white;
    width: 100%;
    height: auto;
    padding: 5px;
}

.about-home {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    font-size: 14px;
    border-radius: 8px;
    padding: 15px;
    gap: 10px;
}

.outer-address{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.out-item{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.oute-account{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.address-item {
    position: absolute;
    left: 76.4%;
    z-index: 100;
    width: auto;
    height: auto;
    top: 10.3%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    border-radius: 0 0 12px 12px;
}

.address-item div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.address-item div ul li {
    list-style: none;
    padding: 10px 0;
}

.address-item div ul li a {
    text-decoration: none;
    color: rgb(68, 67, 67);
}

.address-account {
    position: absolute;
    left: 81%;
    z-index: 100;
    width: 250px;
    height: auto;
    top: 10.3%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    border-radius: 0 0 12px 12px;
    color: rgb(68, 67, 67);
}
.create-acc{
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0071DC;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.create-acc h5{
    color: white;
}
.history{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.site{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.bottom-header {
    background-color: rgba( 242,248,253, 0.9);
    display: flex;
    padding: 15px 23px;
    align-items: center;
    justify-content: flex-start;
}

.first-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
}

.first-name div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.first-name .first1:hover {
    border-radius: 35px;
    background-color: #9bbddd;
    cursor: pointer;
}

.first-name .first2:hover {
    border-radius: 35px;
    background-color: #9bbddd;
    cursor: pointer;
}

.second-name ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 14px;
    gap: 16px;
}

.second-name ul li a {
    text-decoration: none;
    color: rgb(106, 106, 106);
}

.second-name ul li a:hover {
    color: rgb(54, 54, 54);
    text-decoration: underline;
}




/* Media Query */

@media (min-width: 1920px){
    .top-header .search-bar input {
        border: none;
        width: 1000px;
        padding: 5px;
    }
    .address-cart {
        position: absolute;
        left: 3.8%;
        top: 8%;
    }
    .address-item {
        position: absolute;
        left: 80.3%;
        top: 8%;
    }
    .address-account {
        position: absolute;
        left: 84.2%;
        top: 8%;
    }
}